h1 {
  font-size: 100px;
  font-family: 'Oswald', 'Helvetica';
  text-align: center;
  border-style: none;
}

html, body {
  margin: 0;
  padding: 0;
}

.header_div {
  background-color: #8c8c8c;
  text-align: center;
  border-style: solid;
  border-color: #8c8c8c;
}

#copyright {
  font-size: 12px;
  font-family: "Arial";
  text-align: center;
}
