h1 {
  font-size: 100px;
  font-family: 'Oswald';
  text-align: center;
  border-style: solid;
}

p {
  font-size: 35px;
  font-color: #a1a1a1;
}

html, body {
  margin: 0;
  padding: 0;
}

.header_div {
  background-color: #8c8c8c;
  border-style: solid;
  text-align: center;
}
