h1 {
  font-size: 100px;
  font-family: 'Oswald', 'Helvetica';
  text-align: center;
  border-style: none;
}

h3 {
  font-family: 'Oswald', 'Helvetica';
  text-align: center;
  border-style: none;
}

a {
  font-style: none;
  color: #000000;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.header_div {
  background-color: #8c8c8c;
  text-align: center;
  border-style: solid;
  border-color: #8c8c8c;
}

#lighter_text {
  color: #bfbfbf;
}

footer {
  font-size: 12px;
  font-family: "Arial";
  text-align: center;
  position: fixed;
  bottom: 0;
}

.default_text {
  font-family: "Oswald";
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 30px;
  display: block;
}
